
.resume-help {
    display: flex;
    
    align-items: center;
    padding: 40px;
    background-color: #1595df;
    background-image: url('../assets/blue.jpeg'); 
    background-size: cover;
    background-position: center;
  }
  
  .content-help {
    max-width: 600px;
    background-color: #3a90f2;
    padding: 40px;
    
  }
  
  .title {
    font-size: 2.5em;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .description {
    font-size: 1.2em;
    color: #ffffff;
  }
  
  .image-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }

  /**2nd**/

  .header {
    text-align: center;
    padding: 20px;
    background-color: #f7f9fc;
  }
  
  .logos .logo {
    display: inline-block;
    margin: 0 15px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .links {
    margin-top: 20px;
  }
  
  .links span {
    margin: 0 10px;
    color: #333;
    cursor: pointer;
  }
  

  /**3rd**/

  

  
  .text-black {
    color: black;
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.5;
    text-align: center;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .card {
    
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 70px); /* Adjusted size to fit three cards per row */
    display: flex;
    flex-direction: column;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 550px;
  }
  
  .card img {
    width: 100%;
    
    height: 300px; /* Fixed height */
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 1em;
    color: #666;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  /* Responsive Styles */
  @media (max-width: 1200px) {
    .card {
      width: calc(66.333% - 50px); /* Ensure three cards per row for large screens */
    }
  }
  
  @media (max-width: 768px) {
    .card {
      width: calc(80% - 50px); /* Adjust size for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .card {
      width: 100%; /* Full width for very small screens */
    }
  }
  

  /**4th**/

  

.subscription-form {
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 1100px;
  margin: auto;
  background: linear-gradient(135deg, rgba(110, 193, 228, 0.8), rgba(23, 23, 233, 0.8));
  background-size: cover;
}

.subscription-form h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #fff;
}

.subscription-form p {
  color: #fff;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.input-group input {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  outline: none;
  flex: 1;
}

.input-group button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-group button:hover {
  background-color: #333;
}

.error-message {
  color: #f00;
  font-size: 0.8em;
  margin-top: 10px;
}


  
  
  