.root{
  display: block;
  margin-top: 20px;
  padding: 0%;
}
.Pages{
    display: block;
    text-align: center;
    margin-top: 40px;
  }
  .PageButton{
    height: 35px;
    width: 200px;
    color: black;
    background-color: #d4b30f;
    border-radius: 30px;
    border: none;
  }
  .Card-Section{
    height: 550px;
    width: 300px;
    padding: 20px;
    transition: transform .2s; /* Animation */
    box-shadow: 2px 2px 5px lightblue;
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 30px;
    padding-top: 6px;
    
  }
  .SectionHover{
    height: 380px;
    width: 300px;
    gap: 30px;
  }
  .CardSection:hover{
    transform: scale(1.1);
  }
  .HoverSection{
    display: flex;
    gap: 40px;
  }
  .temp-btn{
    padding: 0.5rem;
    background-color: #040e65;
    width: fit-content;
    text-align: center;
    border-radius: 50px;
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
    bottom: 27%; 
    transition: transform 0.5s ease-in-out;
    display: none;
  }
  .CardSection:hover+ .temp-btn {
    transform: translate(-50%, -10px);
    display: block;
    transition: 0.5s ease-in-out;
  }
  .crd{
    height: 160px;
    
  }
  .crds{
    display: flex;
    gap: 30px;
    margin: 30px;
  }
  .Button{
    height: 50px;
    width: 200px;
    border-radius: 20px;
    border: none;
    font-size: medium;
    background-color: #d4b30f;
    position: relative;
    text-align: center;
    margin-left: 40%;
    
  }
  .Scroll {
    margin-top: 30px;
    padding: 4px;
    background-color:#888888;
    width: 40%;
    height: 500px;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
  }
  .secs{
   display: flex;
    width: 100%;
    margin: 10px;
    gap: 30px;
  }
  .sec{
    width: 50%;
    margin: 10px;
  }
  .Cards{
    height: 400px;
    width: 300px;
    display: block;
    margin-left: 40px;
  }
  .CardImage{
    
    height: 250px;
    width: 300px;
    transition: transform .2s; /* Animation */
    
  }
  .CardImage:hover{
    transform: scale(1.1);
  }
  .Card{
    display:flex;
    gap:60px;
  }
  .btn{
    height: 50px;
    width: 200px;
    border-radius: 20px;
    border: none;
    font-size: medium;
    background-color: #d4b30f;
    position: relative;
    text-align: center;
    margin-left: 40%;
    
  }
  .template-secs{
    height: 250px;
    width: 150px;
    border: 1px soild black;
    box-shadow: 5px 10px 8px #888888;
    border: 0px solid;
    margin-left: 30px;
    transition: transform .2s; /* Animation */
  }
  .LastButton{
    color: white;
    background-color: #072965;
    border-radius: 40px;
    border: none;
    height: 50px;
    width: 180px;
  }
  .LastButton:hover{
    background-color: #0e5add;
  }
  .TemplateImage{
    height: 400px;
    width: 200px;
  }
  .card{
    gap: 100px;
    height: 600px;
    width: 300px;
    display: flex;
    margin-left: 30px;
  }
  .ColorSection{
    display: block;
    text-align: center;
  }
  .ColorSectionButton{
    height: 35px;
    width: auto;
    background-color: #d4b30f;
    color: black;
    border: 1px solid #d4b30f;
    border-radius: 10px;
  }
  .HeadArticle{
    display: flex;
  }
  .HeadImage{
    height: 300px;
    width: 50%;
margin: 40px;
  }
  .HeadCard {
    width: 50%;
    padding: 20px;
  }